*{
    background-color: bisque;
}


.header{
    
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px ;
}

li{
    color: rgb(0, 0, 0);
    display: inline;
    margin: 20px;
    
}
.nav-bar{
    text-align: center;
    background-color: brown;
}
.footer{
    text-align: center;
}
ol{
    background-color: brown;

}

    

